{% extends 'base.html' %}

{% block content %}
<a href="{% url 'home' %}">Back to Home</a></button>

<div class="m-5">
    <h1>Login Page</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group p-3">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp"
          placeholder="Enter email">
       </div>
      <div class="form-group p-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-check p-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
